*.dat
*.pyc
*.UPF
*.cif
*.in
*.out
*.err
*.aux
*.pwo
*.pwi
*.xml
*.log
*.fls
*.fdb*
*.gz
*.projwfc_up
*.gnu
*.rap
*.txt
*.gif
*.mpg
*paw.txt
*.pdos*
*.*ZoneIdentifier
*.Identifier
*.wfc*
*.save/
pseudopotential-library/
.claude/
.venv/
CLAUDE.md